Source: box2d
Section: libs
Priority: optional
Maintainer: Miguel Angel Garcia <miguel.garcia@gmail.com>
Build-Depends: debhelper (>= 7), quilt, dh-buildinfo, freeglut3-dev, libxi-dev, cmake
Standards-Version: 3.8.1
Homepage: http://www.box2d.org/

Package: libbox2d1-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbox2d1 (= ${binary:Version})
Description: 2D physics engine - development files
 2D rigid body simulation library for games. Programmers can use it in
 their games to make objects move in believable ways and make the world
 seem more interactive. From the game's point of view a physics engine is
 just a system for procedural animation. Rather than paying (or begging)
 an animator to move your actors around, you can let Sir Isaac Newton do
 the directing.
 .
 This package contains the development libraries and headers.

Package: libbox2d1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: 2D physics engine
 2D rigid body simulation library for games. Programmers can use it in
 their games to make objects move in believable ways and make the world
 seem more interactive. From the game's point of view a physics engine is
 just a system for procedural animation. Rather than paying (or begging)
 an animator to move your actors around, you can let Sir Isaac Newton do
 the directing.

Package: libbox2d1-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbox2d1 (= ${binary:Version})
Priority: extra
Description: 2D physics engine - debugging symbols
 2D rigid body simulation library for games. Programmers can use it in
 their games to make objects move in believable ways and make the world
 seem more interactive. From the game's point of view a physics engine is
 just a system for procedural animation. Rather than paying (or begging)
 an animator to move your actors around, you can let Sir Isaac Newton do
 the directing.
 .
 This package contains the debugging symbols.
